<h1>Conceptos basicos de npm::</h1>
<hr>

<ul class="list-group">
    <li class="list-group-item"><code>npm i</code> -> instalar</li>
    <li class="list-group-item"><code>npm start</code> -> arrancar poryecto</li>
    <li class="list-group-item"><code>npm i -g json-server</code> -> instalar json-server en global</li>
    <li class="list-group-item"><code>npm i --save-dev json-server</code> -> instalar en el proyecto en el package.json</li>
    <li class="list-group-item"><code>npm i --save-dev concurrently</code> -> instalar una libreria para arrancar comandos automaticamente al arrancar la aplicacion</li>
    <li class="list-group-item"><code>npm run dev</code> -> arrancar el servidor http</li>
    <li class="list-group-item">
        En el VCS, hacemos Terminal -> Run Build Task... -> tsc: watch - tsconfig.json, lo cual ejecuta el siguiente comando:
        <code>tsc -p c:\1713\router-intro\tsconfig.json --watch</code>
    </li>
</ul>
<br>
<p>En el package.json, en las librerias cuando aparece el simbolo ^, significa esa versión o mayor. Por ejemplo, ^1.6.9 significa, 1.6.9 o superior</p>